h1{
	border-radius: 20px/40px; 
}

.menu ul li{
	padding: 10px;
	font-size:32px;
}
.menu ul > li:hover{
background-color: #d9d9d9; 
	}
.menu ul > li:hover{
background-color: #d9d9d9; 
	}
.menu ul li,.menu ul{
	display: inline-block;
}
.menu ul{
	position: relative;
	margin: 0;
	padding: 0;
	background-color: #a6a6a6;

}
.menu ul ul{
	display: none;
	position: absolute;
	background-color: #f2f2f2;
	margin-top: 10px;
	margin-left: -10px;
	text-align: center;

}
.menu ul a{
	color: #7a1f5c;
	text-decoration: none;
}
.menu li:hover ul{
	display: block;
}
.menu li:hover li{
	display: block;}

img{
	width:300px;
	height: 260px;
	margin-left:8px;
	margin-top: 20px

}
.photos-block {text-align: center;}
